.navbar-bootswatch {

    @extend .navbar-dark;

    background: linear-gradient(90deg, rgba(199, 37, 67, 1) 0%, rgba(178, 29, 80, 1) 100%);

    .usermenu {
        color: $navbar-dark-color;

        .login a {
            color: $navbar-dark-color;
        }
    }

    a.dropdown-toggle,
    a .usertext {
        color: $navbar-dark-active-color;
        @include hover-focus {
            color: $navbar-dark-hover-color;
        }

        &.disabled {
            color: $navbar-dark-disabled-color;
        }
    }

    .dropdown-menu a .icon {
        color: inherit !important;
    }
}
